@charset "utf-8";

/* 메리다웨딩 태블릿 */


html,
body {
    min-width: 641px;
    width: 100%;
    overflow-x: hidden;
}


/* 헤더 */

header {
    width: 100%;
    height: 98px;
}

header > .inner {
    height: 90%;
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

header .inner a.logo {
    width: 200px;
    height: 100%;
}

.tel {
    display: none;
}

.gnb{
    width: 90%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.5s;
    padding: 100px 20px 50px;
}
.gnb.on{ 
    height: 100vh;
    transform: translateX(0%);
    transition: transform 0.5s;
}