@charset "utf-8";

/* 메리다웨딩 태블릿 */

/* * {
outline: 1px solid red; 
} */

img {
    vertical-align: middle;
}

html,
body {
    min-width: 641px;
    width: 100%;
    overflow-x: hidden;
}


/* 헤더 */

header {
    width: 100%;
    height: 98px;
}

header > .inner {
    height: 90%;
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

header .inner a.logo {
    width: 200px;
    height: 100%;
}

.tel {
    display: none;
}

.gnb{
    width: 90%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.5s;
    padding: 100px 20px 50px;
}
.gnb.on{ 
    height: 100vh;
    transform: translateX(0%);
    transition: transform 0.5s;
}

nav{
position: relative;
}

nav .menuBt {
    display: inline-block;
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translateY(-50%)
  }


  /* 섹션01 */
  .sec01 {
      height: 500px;
  }

  .visualLogo {
      width: 234px;
  height: 148px;
  }


  /* 섹션02 */
  .sec02 {
  height: 630px;
}

.sec02 > div:first-child {
     padding: 30px 0 50px 0;
}

.sec02 > div:first-child h1 {
  font-size: 30px;}

  .sec02 > div:first-child p {
    display: none;
  }



  /* 섹션03 */
  .sec03 {
    height: auto;
      padding:100px 69px 100px 69px;
      gap: 20px;
      position: relative;
  }

  .sec03 > div >.title {
    gap: 0;
  }

  .sec03 > div:first-child {
    display: block;
  }

  .sec03 .title > h1 {
    font-size: 30px;
    line-height: 1.9;
    margin-right: 10px;
  }

  .sec03 .title> span {
    font-size: 30px;
  }

  .sec03 > p {
    display: none;
  }

  .sec03 > div >  p {
    width: 100%;
    font-size: 15px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 69px;
  }

  .sec03 > div:nth-child(2) {
    height: 118px;
    margin-bottom: 105px;
  }

  
  /* 섹션04 */

  .sec04 {
    display: none;
  }


  /* 섹션05 */

  .sec05 {
    padding: 32px 0 30px 0;
  }

  .sec05 .swiper-slide-container {
    height: auto;
  }

  .sec05 .swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .sec05 .off {
    width: 100%;
    height: 500px;
    display: none;
    top: 70px; left: 0;
    position: absolute;
  }

  .sec05 .swiper-slide-container {
    width: 100%;
    height: 680px;
    position: relative;
  }

  .sec05 .swiper-slide-container > span {
    font-size: 30px;
    padding-bottom: 30px;
    }

    .sec05 .swiper-slide-container p {
      font-size: 20px;
      text-align: center;
      padding:30px 50px 0 50px
    }
    
    .sec05 br {
      display: none;
    }

    .sec05 .swiper-button-prev {
      top: 30px;
      left:50px
    }
    
    .sec05 .swiper-button-next {
      top: 30px;
      right: 50px;
    }


    /* 섹션06 */

    .sec06 {
      gap: 50px;
      padding: 50px 0px 14px 0px;
    }

    .sec06 h1 {
      font-size: 30px;
    }

    .sec06 > div:first-child {
      gap: 10px;
    }

    .sec06 > div:last-child {
      flex-direction: column;
      gap:0
    }

    .sec06 .left {
      padding: 0;
      gap: 30px;
    }

    .sec06 .left h2 {
      font-size: 20px;
    }

    .sec06 .left > div a {
      display: none;
    }

    .sec06 .right {
      gap: 30px;
    }

    .sec06 .right > .top {
      margin-top: 20px;
    }

    .sec06 .right > .top, .sec06 .right > .bottom
    {
      text-align: center;
      align-items: center;
      gap: 10px;
    }

    .sec06 .right > .top > p {
      margin-top: 10px;
    }

    .sec06 .right > .bottom > p:last-of-type {
      margin-top: 10px;
    }


    /* 섹션7 */

    .sec07 {
      height: auto;
      flex-direction: column;
      align-items: center;
      padding: 60px 32px;
      text-align: center;
      gap: 150px;
    }

    .sec07 > .left {
      width: 100%;
      order: 2;
      gap: 20px
      ;
    }

    .sec07 > .left > div {
      height: auto;
      flex-wrap: wrap;
      flex-direction:row;
      gap: 19px;
    }

    .sec07 > .left > h1 {
      font-size: 30px;
      padding-bottom: 0px
    }

    .sec07 h1 {
      text-align: center;
      padding-bottom: 35px;
    }

 .sec07 > .right {
      width: 718px;
    } 

    .sec07 .tab ul {
      display: none;
    }

    .sec07 .tab .conBox {
width: 718px;
    }

    .sec07 .tab .conBox#con2,
    .sec07 .tab .conBox#con3{
      display: none;
    }


    /* 푸터 */

    footer .inner {
      gap: 30px;
      align-items: center;
    }
    
    .f_bottom {
      text-align: center;
      display: block;
    }
   
    .f_bottom p, .f_bottom  span {
      padding-bottom: 17px;
    }

    .f_bottom  span {
      display: inline-block;
    }